.homeContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.homeTitle{
  width: 1024px;
  font-size: 20px;
}

/* .message {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
} */
.message{
position: relative;
top: 21px;
left: -343px;
width: 100%;
color: red;
font-weight: bold;
padding: 10px;
text-align: center;
font-size: 14px;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .headElement {
  /* Add any desired styles for the components */
  /* Example styles */
  /* padding: 10px; */
  
  
/* } */ 

/* .msg {
  /* Add any desired styles for the components */
  /* Example styles */
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
  
/* } */ 